{% extends "base.html" %}
{% block extrahead %}

 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.ie.css" />
 <![endif]-->
<link rel="stylesheet"
       href="{{STATIC_URL}}awesome-marker/leaflet.awesome-markers.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
<script src="{{STATIC_URL}}awesome-marker/leaflet.awesome-markers.min.js"></script>

{% endblock %}



{% block content %}
{% include "place/includes/place_details.html"  %}
{% endblock content %}
