{% extends "base.html" %}

{% block extrahead %}

 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.ie.css" />
 <![endif]-->
<link rel="stylesheet"
       href="{{STATIC_URL}}awesome-marker/leaflet.awesome-markers.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>


{% endblock %}
{% block content  %}
<h2>{{user.username}}</h2>
<h3>Places Created By {{user.username}}</h3>
<div class="row">
  <div class="col-md-7">
  <div id="map" style="height:500px"></div>
  </div>
  <div class="col-md-3">
    {% for place in user_places %}

    <div>
      {% include "place/includes/place_list_details.html" %}
    </div>

   {% endfor %}
  </div>
</div>

</div>

<script>

    lon_array = [];
lat_array = [];
    names = []
    {% for p in user_places %}
        var place = {name: "{{p.name}}",
		     address: "{{p.address}}",
		     uri: "{{p.get_absolute_url}}"}; 
        lon = {{p.geoadress.lon|stringformat:"f"}};
        lat = {{p.geoadress.lat|stringformat:"f"}};
        names.push(place);
        lon_array.push(lon);
        lat_array.push(lat);

    {% endfor %}
    var sum = 0;
    for(var i = 0; i < lon_array.length; i++){
    sum += lon_array[i];
    };

    avg_lon = sum/lon_array.length;

    var sum = 0;

    for(var i = 0; i < lat_array.length; i++){
    sum += lat_array[i];
    }

    avg_lat = sum/lat_array.length



var map = L.map('map').setView([avg_lat, avg_lon], 13);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
var array = [];
for(var i = 0; i < lat_array.length; i++){
    array.push (new L.Marker(new L.LatLng(lat_array[i],
					  lon_array[i])
			    ).bindPopup(
				"<b><a href='"+names[i].uri+"'>"+names[i].name+"</a></b><br />"+names[i].address)
		.openPopup())

}
for(var i = 0; i < array.length; i++){
    array[i].addTo(map)
}







// var marker = L.marker([51.5, -0.09]).addTo(map);
// marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
</script>



{% endblock content  %}
