<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
    <title>Traquenard - Manage Lovely Places</title>
    <!-- Loading Bootstrap -->
    <link href="{{STATIC_URL}}/bootstrap/css/bootstrap.css"
    rel="stylesheet" />

    <!-- Loading Flat UI -->
    <link href="{{STATIC_URL}}/css/flat-ui.css" rel="stylesheet" />
    <link href="{{STATIC_URL}}/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="{{STATIC_URL}}/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
    {% block extrahead %}{% endblock %}
</head>

<body>
    <div id="header">
        {% block header %}
          <div class="navbar navbar-inverse">
            <div class="navbar-collapse collapse navbar-collapse-01">
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown">
                       Logged in: {{ user.username }}
                    </a>
                     <b class="caret"></b>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="{% url 'auth_logout' %}">Log out</a>
                        </li>
                        <li>
                          <a href="{% url 'auth_password_change' %}">Change password</a>
                        </li>
                      </ul>
                  </li>
                  {% else %}
                    <li>
                      <a href="{% url 'auth_login' %}">Log in</a>
                    </li>
                  {% endif  %}
              </ul>
              <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="/">Traquenard</a></li>
                <li><a href="{% url 'my_places' %}">My Places</a></li>
                <li><a href="{% url 'place_list' %}">Browse</a></li>
                <li><a href="{% url 'place_create' %}">Create</a></li>
                <li>
                    <form class="navbar-search" action="{% url 'search' %}">
                      <input type="text" class="search-query"
                             placeholder="Search"
                             name="q">
                             <button class="btn btn-primary"
                             type="button">Find</button>
                    </form>
                 </li>
              </ul>
            </div>
          </div>

        {% endblock %}
    </div>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>


</body>

</html>
