{% load thumbnail %}

<h2>
{{place.name}} 
(<a href="{% url 'by_type' place.place_type.slug %}">
  {{place.place_type}}
 </a>)
</h2>
<h4>{{place.address}}</h4>


<div class="row">
{% if user == place.created_by  %}
<div class="col-md-1">

<a class='btn btn-block btn-lg btn-primary' href="{% url 'place_update' place.slug %}">Edit</a>
</div>
{% endif  %}
{% if not place in user.places_liked.all and not place in user.places_disliked.all %}
<div class="col-md-1">

<a class='btn btn-block btn-lg btn-info'
   href="{% url 'thumb_up' place.slug %}"><i class="fa fa-thumbs-up"></i></a>
</div>
<div class="col-md-1">
<a class='btn btn-block btn-lg btn-danger'
   href="{% url 'thumb_down' place.slug %}"><i class="fa fa-thumbs-down"></i></a>
</div>
{% else %}
{% if place in user.places_liked.all %}
<p><i class="fa fa-thumbs-up"></i> You like this place!</p>
{% endif  %}

{% if place in user.places_disliked.all %}
<p><i class="fa fa-thumbs-down"></i>You dislike this place!</p>
{% endif  %}

{% endif  %}
</div>
<div class="row">
  <div class="col-md-7" style="margin:20px">

    <blockquote>
      {{place.description}}
    </blockquote>
  </div>
  <div class="col-md-3">
    {% thumbnail place.get_image.picture "200x100" as im %}
    <img src="{{ im.url }}">
    {% endthumbnail %}
    <a class="btn btn-primary"
       href="{% url 'image_create' place.slug  %}">Add A Photo</a>
    <p>{{place.likes.count}} <i class="fa fa-thumbs-up"></i><br />
      {{place.dislikes.count}} <i class="fa fa-thumbs-down"></i> <br />

      Created by
    <a
     href="{% url 'by_user' place.created_by.username %}">
     {{place.created_by.username}}
    </a>
     on {{place.created_at|date:"M Y"}}
    </p>


  </div>
</div>

<div class="row">
  <div class="col-md-7"> 
      <h4>Going there</h4>
    <div id="map" style="height:400px;margin:20px">
    </div>
  </div>
  <div class="col-md-3" >
    <h4>Not so far</h4>
    {% for place in near %}
    <div>

    <p>
      <b><a href="{{place.get_absolute_url}}">{{place.name}}</a></b><br />
      {{place.address}} <br />
      {{place.distance}} meters<br />
      {{place.likes.count}} <i class="fa fa-thumbs-up"></i>
      {{place.dislikes.count}} <i class="fa fa-thumbs-down"></i>
    </p>
    </div>
    {% endfor %}
  </div>
</div>



</p>

<script>
var redMarker = L.AwesomeMarkers.icon({
  prefix: '{{place.place_type.icon_type}}',
  icon: '{{place.place_type.icon}}',
  markerColor: 'red'
});


    var lon_array = [];
    var lat_array = [];
    var names = []
    {% for p in near %}
        var place = {name: "{{p.name}}",
		address: "{{p.address}}",
		uri: "{{p.get_absolute_url}}",
                icon: "{{p.place_type.icon}}",
                icon_type: "{{p.place_type.icon_type}}",

        }
        lon = {{p.geoadress.lon|stringformat:"f"}};
        lat = {{p.geoadress.lat|stringformat:"f"}};

        names.push(place);
        lon_array.push(lon);
        lat_array.push(lat);

    {% endfor %}

    var sum = 0;
    for(var i = 0; i < lon_array.length; i++){
    sum += lon_array[i];
    };

    avg_lon = sum/lon_array.length;

    var sum = 0;

    for(var i = 0; i < lat_array.length; i++){
    sum += lat_array[i];
    }

    avg_lat = sum/lat_array.length



var map = L.map('map').setView([{{place.geoadress.lat|stringformat:"f"}}, {{place.geoadress.lon|stringformat:"f"}}], 14);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
var array = [];

for(var i = 0; i < lat_array.length; i++){
    array.push (new L.Marker(new L.LatLng(lat_array[i],
					  lon_array[i]),
		   {'icon': L.AwesomeMarkers.icon({
		   prefix: names[i]['icon_type'],
		   icon: names[i]['icon'],
		   markerColor: 'blue'
}) 
		   }
			    ).bindPopup(
				"<b><a href='"+names[i].uri+"'>"+names[i].name+"</a></b><br />"+names[i].address)
		.openPopup())

}
for(var i = 0; i < array.length; i++){
    array[i].addTo(map)
}

new L.Marker(new L.LatLng({{place.geoadress.lat|stringformat:"f"}},
{{place.geoadress.lon|stringformat:"f"}}), {icon: redMarker}).bindPopup(
"<b><a href='{{place.get_absolute_url}}'>{{place.name}}</a></b><br />{{place.address}}"
).openPopup().addTo(map)

</script>
