{% load thumbnail %}
    <div>

    <p>
      <b><a href="{{place.get_absolute_url}}">{{place.name}}</a></b><br />
      {{place.address}} <br />
      {{place.likes.count}} <i class="fa fa-thumbs-up"></i>
      {{place.dislikes.count}} <i class="fa fa-thumbs-down"></i>
    </p>
    </div>

